@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*------------------Default styles----------------*/

:root{
    --white: #FFFFFF;
    --blue: #7FC8F8;
    --grey: #181818;
    --yellow: #FFE45E;
    --font: 'Playfair Display', serif;
}

html{
    font-family: var(--font);
    background-color: var(--white);
    color: var(--grey);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font);
}
    
h1 {
    font-size: calc(40px + (72 - 40) * (100vw - 400px) / (1800 - 400));
    margin-bottom: 3rem;
}

h2 {
    font-size: calc(32px + (48 - 32) * (100vw - 400px) / (1800 - 400));
    margin-bottom: 1.5rem;
}

h3 {
    font-size: calc(20px + (28 - 20) * (100vw - 400px) / (1800 - 400));
}
    
p {
    font-size: calc(16px + (20 - 16) * (100vw - 400px) / (1800 - 400));
    margin-bottom:2rem;    
}

li {
    font-size: calc(16px + (20 - 16) * (100vw - 400px) / (1800 - 400)); 
    margin-bottom: 1rem;
}

header{
    height: 15vh;
    display: flex;
    color: var(--grey);
    justify-content: space-between;
    margin: 0 0px 20px 0px;
}

.auto-height {
    min-height: auto;
}

button{
    font-family: var(--font);
    font-size: 1rem;
    cursor: pointer;
    padding: 16px 32px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    position: relative;
    border-radius: 5px;
}

#btn-primary{
    background-color: var(--blue);
    box-shadow: 0 6px #6ba8d1;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border: none;
    color: var(--white);
    margin-left: 0;
}

#btn-primary a{
    text-decoration: none;
    color: var(--white);
} 

#btn-primary:hover{
    box-shadow: 0 4px #6ba8d1;
	top: 2px;
}

#btn-primary:active{
	box-shadow: 0 0 #6ba8d1;
	top: 6px;
}

#btn-secondary{
    background-color: var(--white);
    box-shadow: 0 6px #6ba8d1;
    border: 1px solid var(--blue);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

#btn-secondary a{
    text-decoration: none;
    color: var(--blue);
}

#btn-secondary:hover{
    box-shadow: 0 4px #6ba8d1;
	top: 2px;
}

#btn-secondary:active{
	box-shadow: 0 0 #6ba8d1;
	top: 6px;
}

span{
    color: var(--blue);
    font-family: var(--font);
    font-weight: 600;

}


/* .filters {
    background-color: var(--white);
    padding: 16px 35px;
    margin: 10px 10px;
    font-family: var(--font);
    font-weight: 600;
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}

.filters.active {
    background-color: var(--yellow);
    color: var(--grey);
    border: none;
}
 */

/*Top Navigation Bar*/
.main-haeder{
    background-color: var(--white);
    margin-bottom: 0;
}

header img{
    margin-top: 15px;
    margin-left: 3rem;
    height: 10vh;
}

header h1 a{
    text-decoration: none;
    color: var(--grey)
}

nav{
    height: 20vh;
    color: var(--grey);
    margin: 0;
    margin-right: 25px;
}

nav ol{
    margin: 0;
    padding: 0;
}

nav ol li{
    display: inline-block;
    margin: 5px 25px 0 0;
    font-size: 1.2rem;
}

nav ol li:hover {
    background-color: var(--yellow);
}

nav ol li a{
    color: var(--grey);
    text-decoration: none;
    transition: .3s all ease; 
}

nav ol li a:hover{
    font-weight: 600;
}

/*Side Navigation Bar*/
svg{
    margin: 20px 0 0 20px;
    fill: var(--blue);
}

.nav-burger-side{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    width: 0%;
    height: 100%;
    overflow: hidden;
    transition: .3s all ease;
    z-index: 2;
}

.nav-burger-side ol li{
    text-align: center;
    margin-bottom: 20px;
    list-style-type: none;
}


.nav-burger-side ol li a{
    color: var(--grey);
    font-size: 2em;
    text-decoration: none;
}

.nav-burger-side img{
    width: 5vw;
    padding-top: 20px;
    align-content: center;
}

.nav-burger-side ol li a:hover{
    font-weight: 600;
}

footer{
    color: var(--grey);
    text-align: left;
    padding: 10px;
    background-color: var(--yellow);
    height: 100vh;
}

footer p{
    margin-top: 8rem;
    margin-left: 25px;
}

/*-----------Main Page-----------*/
.hero{
    height: 80vh;
    text-align: center;
}

.hero h1{
    margin-top: 0;
    margin-bottom: 0;
    padding: 8rem 0 0 0;
    font-size: 3rem;
}

.hero p{
    margin-top: 0;
    padding: 0 10rem 1rem 10rem;
}

.hero button{
    margin: 0 0 0 50px;
}

.herobtn{
    display: grid;
    grid-template-columns: 100%;
}

.services{
    text-align: center;
    margin-bottom: 50px;
}
.services h2{
    color: var(--blue);
}

.services p{
    margin: 50px 175px 0 150px;
}

.main-services-cat{
    margin-top: 30px;
}

.main-services{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px 100px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    text-align: left;
}

.main-services div{
    flex-basis: 33.3333%;
    border-radius: 5px;
    padding: 3rem 20px 0 20px;
    transition: 0.3s; 

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.main-services div:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--yellow);
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.main-services div:hover:before, .main-services div:focus:before, .main-services div:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.main-services h3{
    margin: 0 20px 10px 20px;
}

.main-services p{
    margin: 0 20px 20px 20px;
}

.main-portfolio{
    margin: 0;
    padding: 80px 0 80px 0px;
    text-align: center;
    justify-content: center;
}

.main-portfolio h2{
color: var(--blue);
}

.main-portfolio p{
    margin: 50px 150px 0 150px;
}


.main-portfolio-tasks{
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    transition: 1s all ease-in-out;
    margin: 5vw 0 5vw 10vw;
}

.portfolio-tasks {
    position: relative;
}

.portfolio-item {
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--yellow);
    overflow: hidden;
    width: 80%;
    height: 0;
    transition: .5s ease;
    color: var(--grey);
    align-items: center;
    text-align: left;
    padding-left: 1rem;
    padding-right: 4rem;
}

.portfolio-tasks:hover .portfolio-info {
    height: 100%;
}

.portfolio-tasks img{
    display: block;
    width: 100%;

}

.portfolio-info h4{
    color: var(--grey);
}

.portfolio-info p{
    margin: 0;
    font-size: 15px;
}

.portfolio-info a{
    margin: 0;
    padding: 0;
    text-decoration: underline;
    color: var(--grey);
}

.portfolio-info a svg{
    margin: 0;
    padding: 0;
    width: 3vw;
}


.contact{
    text-align: center;
    flex-wrap: wrap;
    margin: 5rem 0px 50px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    height: 60vh;
}

.contact p{
    margin: 50px 175px 0 150px;
}

.contact svg{
    stroke: var(--grey);
    width: 24px;
    fill: none; 
}

.contact-info h4{
    margin-bottom: 0;
}

.contact-info p{
    margin-top: 0;
}

.contact-info a{
    text-decoration: none;
}

.contact-info img{
    width: 24px;
    margin-top: 2rem;
}


/*-----------About Page-----------*/
.about{
    text-align: center;
    height: 80vh;
}

.about h2{
    margin-top: 80px;
    margin-bottom: 50px;
}

.about p{
    margin: 20px 175px 0 150px;
}

.skills {
    text-align: center;
    height: auto;
}

.skills h2{
    color: var(--blue);
}

.skillslist {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: left;
    transition: 1s all ease-in-out;
    margin: 5vw 0 5vw 10vw;

}

.skillslist div{
    flex-basis: 33.3333%;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    transition: 0.3s; 
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.skillslist div:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--yellow);
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.skillslist div:hover:before, .skillslist div:focus:before, .skillslist div:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.skillslist ul li {
    text-align: left;
}
  
.about-timeline{
    color: var(--grey);
    background-color: var(--white);
    min-height: 100vh;
    display: grid;
    align-content: center;
    gap: 2rem;
    padding: 2rem;
    margin-top: 2rem;
}

.about-timeline h2{
    text-align: center;
    color: var(--blue);
}

.about-timeline ul{
    display: grid;
    grid-template-columns: 0.25rem 1fr;
    grid-auto-columns: max-content;
    column-gap: 2rem;
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
}

/* timeline - line */
ul::before{
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(0.25rem / 2);
}

/* timeline - row gaps */
.about-timeline ul li:not(:last-child){
    margin-bottom: 2rem;
}

/* timeline - card for information */
.about-timeline ul li{
    grid-column: 2;
    margin-inline: 1.5rem;
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

/* timeline - date */
.about-timeline ul li .date{
    height: 3rem;
    margin-inline: calc(1.5rem * -1);
    text-align: center;
    background-color: var(--yellow);
    color: var(--grey);
    font-size: 1.25rem;
    font-weight: 700;
    display: grid;
    place-content: center;
    position: relative;
    border-radius: calc(3rem / 2) 0 0 calc(3rem / 2);
}

/* timeline - date flap */
.about-timeline ul li .date::before{
    content: "";
    width: 1.5rem;
    aspect-ratio: 1;
    background: #d4be4b;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
}

/* timeline - circle point on timeline*/
.about-timeline ul li .date::after{
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--white);
    border: 0.3rem solid var(--yellow);
    border-radius: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    right: calc(100% + 2rem + 0.25rem / 2);
}

/* timeline - title description */
ul li .title,
ul li .description{
    background-color: #fbfbfb;
    position: relative;
    padding-inline: 1.5rem;
    color: var(--grey);
}
ul li .title{
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 600;
}
ul li .description{
    padding-block-end: 1.5rem;
    font-weight: 300;
}

/* timeline - shadows */
.about-timeline ul li .title::before,
.about-timeline ul li .description::before{
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
}
.about-timeline ul li .title::before{
    bottom: calc(100% + 0.125rem);
}

.about-timeline ul li .description::before{
    z-index: -1;
    bottom: 0.25rem;
}

/*-----------Portfolio Page-----------*/
.portfolio{
    text-align: center;
    margin-bottom: 70px;
}

.portfolio h1{
    margin-top: 100px;
    margin-bottom: 50px;
}

.portfolio p{
    margin: 20px 175px 2rem 150px;
}

.portfolio-cat{
    text-align: center;
    margin-bottom: 3em;
}

.portfolio-cases{
    padding: 1em;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}

.portfolio-cases div{
    justify-content: center;
    margin-bottom: 2em;
    align-self: center;
}

.portfolio-cases div img{
    width: 25vw;
    border-radius: 15px;
}

/*-----------Protfolio Detail Pages-----------*/
.portfolio-case{
    text-align: center;
    margin-bottom: 5rem;
}

.portfolio-case h2{
    margin-bottom: 3rem;
    color: var(--blue);
}

.portfolio-case p{
    margin: 0;
    
}

.portfolio-case button{
    justify-content: center;
}

#portfolio-banner{
    padding: 3rem 0 3rem 0 ;
    width: 100%;
}

.portfolio-description{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin: 5vw 0 5rem 5vw;
    height: auto;
    align-items: center;
    text-align: left;
    gap: 1rem;
}
 
.porfolio-description h2{
    text-align: left;
    color: var(--blue);
}

.portfolio-description img{
    width: 45vw;
}

.porfolio-description p{
    margin: 0;
    padding: 0;
}

.portfolio-details1,
.portfolio-details2{
    padding: 2rem 5rem 0rem 5rem;
    height: auto;
}

.portfolio-details1 h2,
.portfolio-details2 h2{
    margin-bottom: 3rem;
    color: var(--blue);
}

.portfolio-details1 p,
.portfolio-details2 p{
    margin: 50px 175px 50px 150px;
}

.portfolio-details2{
    background-color: var(--white);
}

.portfolio-description p{
    margin: 50px 175px 50px 150px;
}

.portfolio-details2 ul{
    text-align: left;
    margin: 50px 175px 50px 150px;
}


.portfolio-showcase2{
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 0 0 0 10vw;
    align-items: center;
    text-align: left;
    height: auto;
}

.portfolio-showcase2 img{
    height: 100vh;
}

.portfolio-showcase iframe{
    margin-top: 2rem;
}

.portfolio-showcase{
    text-align: center;
    margin: 2rem 0 3rem 0;
}

#showcase2text{
    margin: 50px 175px 50px 150px;
}

#showcase2text a{
    text-decoration: none;
    color: var(--blue);
    font-weight: 700;
}

.portfolio-showcase p{
    margin: 50px 175px 50px 150px;
}

.portfolio-showcase img{
    height: 50vh;
}

.portfolio-showcase a{
    text-decoration: none;
    color: var(--blue);
    font-weight: 700;
}

#responsive-image{
    display: none;
}

.nextPortfolioButton{
    justify-content: center;
}


/*---------------mkt-index----------------*/
.hero-mkt{
    height: 80vh;
    text-align: center;
}

.hero-mkt h1{
    margin-top: 0;
    margin-bottom: 0;
    padding: 8rem 0 0 0;
    font-size: 3rem;
}

.hero-mkt p{
    margin-top: 0;
    padding: 0 10rem 1rem 10rem;
}

.hero-mkt button{
    margin: 0 0 0 50px;
}

.hero-mkt btn{
    display: grid;
    grid-template-columns: 100%;
}

.services-mkt{
    text-align: center;
    margin-bottom: 50px;
}
.services-mkt h2{
    color: var(--blue);
}

.services-mkt p{
    margin: 50px 175px 0 150px;
}

.main-services-cat{
    margin-top: 30px;
}

.main-services{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px 100px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    text-align: left;
}

.main-services div{
    flex-basis: 33.3333%;
    border-radius: 5px;
    padding: 3rem 20px 0 20px;
    transition: 0.3s; 

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.main-services div:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--yellow);
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.main-services div:hover:before, .main-services div:focus:before, .main-services div:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.main-services h3{
    margin: 0 20px 10px 20px;
}

.main-services p{
    margin: 0 20px 20px 20px;
}



/*------------------Responsive----------------*/

/*Tablet -- breakpoint at 769px*/
@media screen and (min-width:769px){
    /*------------------Defualt----------------*/
    .burgericon{
        display: none;
    }  


    /*------------------About Page - Timeline----------------*/

    .about-timeline ul{
        grid-template-columns: 1fr 0.25rem 1fr;
    }
    .about-timeline ul::before {
        grid-column: 2;
    }
    .about-timeline ul li:nth-child(odd) {
        grid-column: 1;
    }
    .about-timeline ul li:nth-child(even) {
        grid-column: 3;
    }

    /* timeline - start second card */
    .about-timeline ul li:nth-child(2) {
        grid-row: 2/4;
    }

    .about-timeline ul li:nth-child(odd) .date::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        left: 0;
    }

    .about-timeline ul li:nth-child(odd) .date::after {
        transform: translate(-50%, -50%);
        left: calc(100% + 2rem + 0.25rem / 2);
    }
    .about-timeline ul li:nth-child(odd) .date {
        border-radius: 0 calc(3rem / 2) calc(3rem / 2) 0;
    }

}

@media screen and (max-width:769px){
    /*------------------Defualt----------------*/
    header{
        height: 10vh;
    }

    header img{
        margin-top: 1.5rem;
        margin-left: 3rem;
        height: 5vh;
    }
    
    .nav-top{
        display: none;
    }

    nav ol li{
        margin: 5px 3rem 0 0;
    }
    
    header h1{
        margin-left: 3rem;
    }

    #btn-primary, 
    #btn-secondary{
        padding: 10px 20px; 
    }

/*     .filters{
        background-color: var(--white);
        border: none;
        padding: 10px 30px;
        margin: 10px 10px;
        font-family: var(--font);
        color: var(--grey);
        border: 1px solid var(--blue);
        border-radius: 20px;
    } */


    footer {
        height: 100vh;
    }

    #copyright{
        margin: 9rem 0 0 0;
    }

    /*------------------Main Page----------------*/
    .hero{
        background-image: none;
        background-color: var(--white);
        display: block;
        padding: 0;
        height: auto;
    }

    .main-portfolio-tasks{
        display: flex;
        flex-wrap: wrap;
    }

    .hero h1{
        padding: 3rem 0 0 0;
        font-size: 3rem;
    }

    .hero p{
        margin-top: 0;
        padding: 0 5rem 1rem 5rem;
    }

    .main-portfolio p{
        padding: 0;
    }

    .portfolio-tasks img{
        width: 90%;
    }

    .portfolio-info{
        width: 77%;
    }
    
    .services p{
        margin: 50px 5rem 0 5rem;
    }

    .main-services h3{
        margin: 0 0 10px 0;
    }

    .main-services p{
        margin: 0;
    }

    .main-services div{
        padding: 3rem 20px 2rem 20px;
    }
    

    /*------------------About & Portfolio Page----------------*/

    .about{
        height: auto;
        margin-bottom: 5rem;
    }

    .about h2{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .about p,
    .portfolio p{
        margin: 1rem 5rem 0 5rem;
    }

    .skills {
        height: auto;
    }
    .portfolio-cases{
        justify-content: center;
    }

    .portfolio-cases div img{
        width: 35vw;
    }

    /*-----------Protfolio Detail Pages-----------*/
    .portfolio-description{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        margin: 5rem 0 0 0;
        height: auto;
        padding-bottom: 0;
    }

    .portfolio-description img{
        width: 60vw;
    }

    .portfolio-description p{
        text-align: center;
        margin: 50px 3rem 50px 3rem;
    }

    .portfolio-details1{
        height: auto;
        padding: 0;
    }

    .portfolio-details2{
        height: auto;
        padding: 2rem 0 3rem 0;
    }

    .portfolio-details1 p,
    .portfolio-details2 p,
    .portfolio-showcase p,
    #showcase2text{
        margin: 1rem 5rem 0 5rem;
    }

    .portfolio-details2 ul{
        margin: 50px 3rem 0 3rem;
    }

    #portfolio-banner{
        padding: 0;
    }

    .portfolio-showcase2 h3{
        margin-top: 0;
        align-items: center;
    }

    .portfolio-showcase2 img{
        width: 50vw;
        height: auto;
    }

    .portfolio-showcase img{
        width: 50vw;
        height: auto;
    }

    .portfolio-showcase2{
        margin-bottom: 5rem;
    }

}

/*Mobile -- breakpoint at 390px*/
@media screen and (max-width:390px){

    /*------------------Defualt----------------*/
    header{
        height: 5vh;
    }

    .nav-burger-side ol{
        padding: 0 0 0 0;
    }

    nav ol li:hover {
        background-color: none;
    }

    #btn-primary{
        text-align: center;
        margin-bottom: 1rem ;
        margin-left: 2rem;
    }

    #btn-secondary{
        margin-left: 02rem;
    }
    

    /*------------------Main Page----------------*/
    .hero{
        padding-right: 1.5rem;
        height: 75vh;
    }
    .hero h1{
        padding: 100px 0 5px 2rem;
    }
    
    .hero p{
        padding: 0 0 1rem 2rem;
    }
    
    .hero button{
        margin: 0 0 0 2rem;
    }

    .services p{
        margin: 50px 2rem 0 2rem;
    }

    .main-services{
        gap: 0.5rem;
    }

    .main-services div{
        flex-basis: 80%;
    }

    .main-services h2,
    .main-services p,
    .main-portfolio p{
        margin: 0;
    }

    .main-portfolio{
        padding: 2rem 2rem 3rem 2rem;
    }

    .portfolio-info{
        width: 70%;
    }

    .portfolio-tasks img{
        width: 100%;
    }

    #project-overview{
        display: none;
    }

    .portfolio-info a svg{
        margin: 0;
        padding: 0;
        width: 5vw;
    }

    .contact p{
        margin: 50px 1rem 0 1rem;
    }

    .contact-info p{
        margin-top: 0;
    }

    /*------------------About Page----------------*/
    .about{
        margin-top: 5rem;
        height: auto;
    }

    .about h1{
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .about p,
    .portfolio p{
        margin: 1.5rem 2rem 0rem 2rem;
    }

    .skillslist{
        grid-template-columns: none;
    }

    .skillslist div{
        flex-basis: 100%;
    }

    /*------------------Portfolio Page----------------*/
    .portfolio{
        margin-top: 5rem;
    }
    
    .portfolio-cases{
        justify-content: center;
        gap: 0.5rem;
    }

    .portfolio-cases div img{
        width: 80vw;
    }

    /*-----------Protfolio Detail Pages-----------*/
    .portfolio-case{
        margin-top: 5rem;
    }

    .portfolio-case h2{
        padding: 0 2rem 0 2rem;
    }

    .portfolio-description{
        display: block;
        width: 100%;
        margin: 0 0 3rem 0;
        padding: 0;
    }

    .porfolio-description p{
        margin: 0;
        text-align: center;
    }

    .portfolio-description img{
        width: 80vw;
        height: auto;
        padding: 2rem 0 0 2.5rem;
    }
    
    .portfolio-details1 p,
    .portfolio-details2 p,
    .portfolio-showcase p{
        margin: 0 1.5rem 0rem 1.5rem;
    }

    .portfolio-details2 ul{
        margin: 1.5rem 1.5rem 0rem 1rem;
    }

    #showcase2text{
        margin: 2rem 1.5rem 0rem 1.5rem;
    }

    .portfolio-showcase2{
        display: flex;
        flex-wrap: wrap;
    }

    .portfolio-showcase2 img{
        width: 90vw;
        height: auto;
    }

    .portfolio-showcase iframe{
        width: 80vw;
    }

    #responsive-image{
        display: block;
    }

    #non-responsive-image{
        display: none;
    }

    #portfolio-banner{
        display: none;
    }

    

}